<div
  style="height: auto"
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches"
>
  <mat-toolbar color="primary" class="example-toolbar">
    <!--button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button-->
    <a routerLink="/" style="color: #FFF; text-decoration: none;"
      ><img class="logo" src="assets/codesnippetlogo.png" style="height: 35px;"/>
    </a>
    <h1 class="example-app-name">
      <a routerLink="/" style="color: #FFF; text-decoration: none">CodeSnippet</a>
    </h1>

    <!-- <span *ngIf="!(authService.isConnected | async)">(Offline)</span>
    <span *ngIf="(authService.isConnected | async)"></span> -->
    <span class="example-spacer"></span>
    <button *ngIf="!applicationStateService.isMobileResolution" mat-button color="white" routerLink="/">
      <i class="material-icons matIcon">home</i>Home
    </button>
    <button
      
      mat-button
      color="white"
      routerLink="/code"
    >
      <i class="material-icons matIcon">code</i>Code!
    </button>
    <!-- <button
      
      mat-button
      color="white"
      routerLink="/auth/login"
    >
      <i class="material-icons matIcon">person</i>Login
    </button> -->
    <!-- <button
      *ngIf="
        !(authService.userSignedIn$ | async) &&
        !applicationStateService.isMobileResolution
      "
      mat-button
      color="white"
      routerLink="/auth/register"
    >
      <i class="material-icons matIcon">person_add</i>Register
    </button>
    <button
      *ngIf="
        (authService.userSignedIn$ | async) &&
        !applicationStateService.isMobileResolution
      "
      mat-button
      color="white"
      routerLink="dashboard/history"
    >
      <i class="material-icons matIcon">history</i>History
    </button>
    <button
      *ngIf="(authService.userSignedIn$ | async)"
      mat-button
      color="white"
      routerLink="/dashboard/newprint"
    >
      <i class="material-icons matIcon">fiber_new</i>New Print
    </button>
    <button
      *ngIf="(authService.userSignedIn$ | async)"
      mat-button
      color="white"
      routerLink="dashboard/profile"
    >
      <i class="material-icons matIcon">account_circle</i>Profile
    </button>
    <button
    *ngIf="
        (authService.userSignedIn$ | async) &&
        !applicationStateService.isMobileResolution
      "
      mat-button
      color="white"
      (click)="logOutUser()"
    >
      <i class="material-icons"> exit_to_app </i>Logout
    </button> -->
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      [autoFocus]="false"
      #snav
      [mode]="'over'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      (click)="snav.close()"
    >
      <mat-nav-list>
        <div style="background-color: #666; height: 100px; position: relative; ">
          <div style="color: #FFF; text-align: right; bottom: 0; position: absolute;">
          acInfo.name
          acInfo.email
        </div>
        </div>
        <a mat-list-item routerLink="."><i class="material-icons matIcon">home</i>Home</a>
        <!--<a
          mat-list-item
          *ngIf="!(authService.userSignedIn$ | async)"
          color="white"
          routerLink="auth/register"
          ><i class="material-icons matIcon">person_add</i>Register</a
        >
        <a
          mat-list-item
          *ngIf="(authService.userSignedIn$ | async)"
          color="white"
          routerLink="dashboard/history"
          ><i class="material-icons matIcon">history</i>History</a
        >
        <a
          mat-list-item
          *ngIf="(authService.userSignedIn$ | async)"
          color="white"
          routerLink="/dashboard/newprint"
          ><i class="material-icons matIcon">fiber_new</i>New Print</a
        >
        <a mat-list-item routerLink="/dashboard/about"
          ><i class="material-icons matIcon">people_outline</i>About Us</a
        >
        <a mat-list-item *ngIf="(authService.userSignedIn$ | async)" (click)="logOutUser()">
          <i class="material-icons matIcon">exit_to_app</i>         Logout        </a>
         <a mat-list-item><i class="material-icons matIcon">call</i>Contact Us</a>-->
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <div class="main">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container> 
</div>
<!--app-footer></app-footer-->
