#files-table {
    width: 100%;
  }
  
  .progress-bar-file-table {
    width: 50%;
  }
  
  .progress-spinnner-file-table {
    width: 50%;
    margin-left: 20px;
  }
  
  .table-class {
    position: relative;
    margin-top: 15px;
    overflow: auto;
    display: block;
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .clearableField {
    width: 250px;
  }
  
  .mat-select {
    width: 200px;
  }
  .z-depth-1-half {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }
  .container1 {
    display: table;
    width: 100%;
  }
  
  .button-wrapper2 {
    display: table-cell;
    vertical-align: middle;
  }
  