<mat-card appDnd>
    <mat-card-title>Snippet</mat-card-title>
    <div>
      <mat-spinner [diameter]="40" *ngIf="isLoading"></mat-spinner>
      <span *ngIf="isError"
        >&nbsp;&nbsp;&nbsp;There was some error. Sorry :(</span
      >
    </div>
    

   <p>Select Action:
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

   </p>
  </mat-card>
  