<h1 mat-dialog-title *ngIf="!data.edit">Add Template</h1>
<h1 mat-dialog-title *ngIf="data.edit">Edit Template</h1>
<div mat-dialog-content>
    <p>Action name:</p><span>{{data.action_name}}</span><br/>
    <p>Sub-Action name:</p><span>{{data.sub_action_name}}</span><br/>
    <mat-form-field>

    <p>Language:</p><input matInput [(ngModel)]="data.language">
    </mat-form-field>
    <mat-form-field>

    <p>Instructions:</p><textarea matInput [(ngModel)]="data.instructions"></textarea><br/>
    </mat-form-field>

  <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="data.template"></ngx-monaco-editor>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="addTemplate()" *ngIf="!data.edit">Add</button>
  <button mat-button cdkFocusInitial (click)="editTemplate()" *ngIf="data.edit">Edit</button>
</div>
