<h1 mat-dialog-title *ngIf="!data.edit">Add Action</h1>
<h1 mat-dialog-title *ngIf="data.edit">Edit Action</h1>
<div mat-dialog-content>
  <mat-form-field>  
    <mat-label>Enter Action name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="addAction()" *ngIf="!data.edit">Add</button>
  <button mat-button cdkFocusInitial (click)="editAction()" *ngIf="data.edit">Edit</button>
</div>
