/* You can add global styles to this file, and also import other style files */

//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body
{
    font-family: 'Roboto', sans-serif;
}
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 80%;
  display: block;
  margin: auto;
}

@media (max-width: 479px) {
  router-outlet ~ * {
  width: 90%;
  }
}

